{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/detail_style.css' %}">
    <title>{{news_details.title}}</title>
    <style></style>
</head>
<body>
    <h1>{{news_details.title}}</h1><hr>
    <form action="{% url 'search_results' %}" method="GET">
        <input type="text" placeholder="filter comments by author's username" name="q" class="text-input">
        <input type="submit" value="Filter" class="submit-input">
    </form>
    <section>
        <i>for more info visit</i> <a href="{{news_details.url}}">{{news_details.url}}</a>
        <h3>Comments</h3>
        <div class="comment_side"> 
            <input type="text" class="comment-input" placeholder="Join the conversation">
            {% for val in comments %}
                <p><span class="by-comment">{{val.by}}:</span> {{val.Text}}.</p>
            {% endfor %}
        </div>    
    </section>
</body>
</html>